src/Sw/Bundle/SoapCommentBundle/Fixtures/comment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="championnat"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="championnatNamespace"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/commentNamespace">

  <wsdl:types>
    <xsd:schema>
      <xsd:element name="comments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="author" type="xsd:string"/>
            <xsd:element name="content" type="xsd:string"/>
            <xsd:element name="rank" type="xsd:int"/>
            <xsd:element name="swimmingPoolId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCommentsRequest">
    <wsdl:part type="xsd:int" name="swimmingPoolId"/>
  </wsdl:message>
  <wsdl:message name="getCommentsResponse">
    <wsdl:part elem="comments"/>
  </wsdl:message>
  <wsdl:message name="addCommentRequest">
    <wsdl:part type="xsd:string" name="author"/>
    <wsdl:part type="xsd:string" name="message"/>
    <wsdl:part type="xsd:int" name="swimmingPoolId"/>
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part type="xsd:int" name="addStatus"/>
  </wsdl:message>

  <wsdl:portType name="comment">
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addCommentRequest"/>
      <wsdl:output message="tns:addCommentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <wsdl:input message="tns:getCommentsRequest"/>
      <wsdl:output message="tns:getCommentsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="commentSOAP" type="tns:comment">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <soap:operation soapAction="NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="comment">
    <wsdl:port binding="tns:commentSOAP" name="commentSOAP">
      <soap:address location="http://localhost/xml/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
